
    <li>
      <div class="topic_title">
      <%= link_to "#{topic.title.capitalize}, updated on: #{topic.updated_at}", topic_path(topic) %>
      </div>
      <div class="topic_info">
        <%= topic.comments.count %> comments
        <div class="topic_manage">
          <%= link_to 'Edit', edit_topic_path(topic)%>
          <%= link_to "Delete", topic_path(topic), method: :delete, data:{ confirm: "Are you sure?" }%>
        </div>
      </div>
    </li>