<div class="container">
  <div class="aboutbox">
    <li>Total Topics Published: <%= Topic.where(status: 2).count %></li>
    <li>Total Comments Published: <%= Comment.where(status: 2).count %></li>
    <li>Total Users: <%= User.count %></li>
  </div>
</div>
