<!DOCTYPE html>
<html>
  <head>
    <title>AC Forum</title>
        <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
